@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: rgb(32, 32, 32);
}

nav{
    height: 80px;
    background: rgb(32, 32, 32);
    color: rgb(66, 217, 108);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}

.nav-items,
.overview,
.account{
    display: flex;
    font-size: 16px;
}
.overview{
    margin-right: 0 0.5rem;
}

.logo h2{
    color: rgb(66, 217, 108);
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 36px;
}

.logo a{
    text-decoration: none;
}

nav li{
    list-style: none;
    margin: 0 0.5rem;
}

.nav-items a{
    display: block;
    padding: 8px;
    background-color: rgb(66, 217, 108);
    text-decoration: none;
    font-weight: bold;
    color: rgb(32, 32, 32);
}

.nav-items a:hover{
    background-color: rgb(54, 155, 82);
    transition: all ease-in-out 300ms;
}

.back{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(14, 14, 14);
    padding: 200px;
    padding-top: 48px;
}

.song-img{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ), url(images/doremi.png);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 50%;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
}

.image{
    padding: 24px;
}

.image img{
    width: 250px; height: 250px;
}

.desc{
    align-content: center;
    max-width: 477px;
    padding: 24px;
}

.desc h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.desc h2{
    font-size: 24px;
    font-weight: normal;
    color: white;
    padding-top: 18px;
}

.desc h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.buy-button{
    text-align: center;
    align-content: center;
    padding: 48px;
}

.buy-button button{
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(66, 217, 108);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buy-button h2{
    font-size: 24px;
}

.buy-button button:hover{
    background-color: rgb(54, 155, 82);
    transition: all 300ms;
}

.song-lyrics{
    padding: 24px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgb(21, 21, 21);
}

.song-lyrics audio{
    width: 100%;
    filter: invert(90%);
}

.song-lyrics h4{
    font-size: 12px;
    font-weight: normal;
    color: rgb(217, 217, 217);
    padding-top: 4px;
}

.song-lyrics h2{
    font-size: 24px;
    font-weight: normal;
    color: white;
    padding-top: 24px;
}

.song-lyrics h3{
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3;
    padding-top: 12px;
    /* padding-bottom: 24px; */
    color: rgb(217, 217, 217);
}

.highlight{
    color: rgb(66, 217, 108);
    font-weight: bold;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    padding: 48px;
    text-align: center;
    justify-content: center;
}

.logo-about h1{
    color: rgb(66, 217, 108);
    cursor: pointer;
    font-size: 64px;
}

.about h2{
    color: rgb(217, 217, 217);
    cursor: default;
    font-size: 16px;
}

.about a{
    color: rgb(217, 217, 217);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}