@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: rgb(32, 32, 32);
}

nav{
    height: 80px;
    background: rgb(32, 32, 32);
    color: rgb(66, 217, 108);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}

.nav-items,
.overview,
.account{
    display: flex;
    font-size: 16px;
}
.overview{
    margin-right: 0 0.5rem;
}

.logo h2{
    color: rgb(66, 217, 108);
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 36px;
}

.logo a{
    text-decoration: none;
}

nav li{
    list-style: none;
    margin: 0 0.5rem;
}

.nav-items a{
    display: block;
    padding: 8px;
    background-color: rgb(66, 217, 108);
    text-decoration: none;
    font-weight: bold;
    color: rgb(32, 32, 32);
}

.nav-items a:hover{
    background-color: rgb(54, 155, 82);
    transition: all ease-in-out 300ms;
}

.song-back{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(14, 14, 14);
    padding: 80px;
}

.song-table{
    padding: 24px;
    border-radius: 10px;
    background-color: rgb(21, 21, 21);
}

.song-table h1{
    font-size: 32px;
    color: white;
    padding-bottom: 16px;
}

.song-table table, th, td{
    border: 0px;
    border-bottom: 1px solid rgb(217, 217, 217);
    border-collapse: collapse;
    padding: 8px;
}

.song-table th{
    font-size: 18px;
    color: white;
    text-align: left;
    border-top: 1px solid rgb(217, 217, 217);
}

.song-table td{
    font-size: 16px;
    font-weight: bold;
    color: rgb(217, 217, 217);
    vertical-align: middle;
    cursor: pointer;
}

.song-table tr:not(:first-child):hover{
    background-color: rgb(32, 32, 32);
}

.song-table tr:nth-child(even){
    background-color: rgb(14, 14, 14);
}

.song-table tr:nth-child(odd){
    background-color: rgb(21, 21, 21);
}

.album-image img{
    width: 50px;
    height: 50px;
}

.price-header h2{
    font-size: 18px;
    text-align: center;
}

.price{
    text-align: center;
}

.price button{
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(14, 14, 14);
    background-color: rgb(66, 217, 108);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.length-header h2{
    font-size: 18px;
    text-align: center;
}

.length{
    text-align: center;
}

.price button:hover{
    background-color: rgb(54, 155, 82);
    transition: all 300ms;
}

.highlight{
    color: rgb(66, 217, 108);
    font-weight: bold;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    padding: 48px;
    text-align: center;
    justify-content: center;
}

.logo-about h1{
    color: rgb(66, 217, 108);
    cursor: pointer;
    font-size: 64px;
}

.about h2{
    color: rgb(217, 217, 217);
    cursor: default;
    font-size: 16px;
}

.about a{
    color: rgb(217, 217, 217);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}